body
    {
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }

        .banner
            {
                width: 100%;
                /* height: 100%; */
                background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2) 70%,  rgba(0, 0, 0, 0.8) 100%), url(./images/IMG-2510.jpg);
                background-position: 50% 68%;
                background-size: cover;
                color: white;
                z-index: 0;
            }

            .navbar
                {
                    height: 10vh;
                    position: relative;
                    padding: 10px;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                }

                .dropdown
                    {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        font-size: 1.8em;
                    }

                .logo
                    {
                        width: 200px;
                        margin-top: 150px;
                    }

                .unalomeDiv
                    {
                        margin-top: -110px;
                        width: 100%;
                        z-index: 1;
                    }        
                    .unalome
                        {
                            width: 80px;
                            display: block;
                            margin: 0 auto;
                        }

        main
            {
                text-align: center;
                z-index: 2;
                padding: 0 50px;
            }

    
        /* .fa-instagram
            {
                background: linear-gradient(yellow, purple);
                background: -webkit-linear-gradient(yellow, purple);
                background-clip: text;
                -webkit-background-clip: text;
                color: rgba(250,250,250, 0);
            } */