body
    {
        margin: 0;
        color: white;
        font-family: 'Permanent Marker', cursive;
    }

.banner
    {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url(https://scontent.fcrl2-1.fna.fbcdn.net/v/t1.15752-9/294129951_769225257766043_359827664838723611_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_ohc=u8Xpcncgr9gAX8NYsGv&_nc_ht=scontent.fcrl2-1.fna&oh=03_AVITydufN2FMcHFdDQeZPdjF6UTg1V6QBjDFvwsL74d4ww&oe=63093655);
        background-position: 50% 68%;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        flex-direction: column;
    }

.title
    {
        margin: 100px 0 0 0;
        font-size: 60px;
        text-align: center;
    }

.links
    {
        list-style: none;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 3vh;
        padding: 0;   
        margin: 1%; 
    }

.link
    {
        margin: 0 5px;
        opacity: 0.7;
    }

a
    {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .link:hover
    {
        cursor: pointer;
        opacity: 1;
    }

    .instagram:hover
        {
            background: linear-gradient(yellow, purple);
            background: -webkit-linear-gradient(yellow, purple);
            -webkit-background-clip: text;
            color: rgba(250,250,250, 0);
        }

    .facebook:hover
        {
            color: #1877F2;
        }


.arrow
    {
        margin: 20px;
        font-size: 5vh;
        opacity: 0;
    }

    .banner:hover .arrow
        {
            opacity: 0.3;
        }

main
    {
        color: black;
        margin: 50px;
        text-align: center;
    }

@media only screen and (max-width: 768px)
    {
        li
        {
            opacity: 1;
        }
    
        .instagram
            {
                background: linear-gradient(yellow, purple);
                background: -webkit-linear-gradient(yellow, purple);
                background-clip: text;
                -webkit-background-clip: text;
                color: rgba(250,250,250, 0);
            }
    
        .facebook
            {
                color: #1877F2;
            }
    }